@model IEnumerable<PizzaFactory.WebClient.Models.PizzaViewModel>

@{
    ViewBag.Title = "Choice";
}

<h2>Choice Pizza</h2>

<p>
    @Html.Action("CreatePizza")
    @Html.ActionLink("Custom Pizzas", "Custom", new { }, new { @class = "btn btn-default" })
</p>

<div><p id="notifier"></p></div>


<div class="container">
    @foreach (var item in Model)
    {

        <div class="row">
            @Html.DisplayFor(modelItem => item)
        </div>
    }
</div>

<script type="text/javascript">
    function addToCart(productId) {
        $.getJSON(`AddToCart?productId=${productId}`, "", function (data) {
            console.log(data);
            if (data.success) {
                toastr.success(data.message)
            }
            else {
                toastr.warning(data.message)
            }

        });
    }
</script>