@model IEnumerable<PizzaFactory.WebClient.Models.PizzaViewModel>

@{
    ViewBag.Title = "Choice";
}

<h2>ChoicePizza</h2>

@if (Request.IsAuthenticated)
{
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
}


<div class="container">
    @foreach (var item in Model)
    {

        <div class="row">
            @Html.DisplayFor(modelItem => item)
        </div>
    }
</div>