@model IEnumerable<PizzaFactory.WebClient.Models.PizzaViewModel>

@{
    ViewBag.Title = "Choice";
}

<h2>Choice Pizza</h2>

<p>
    @Html.Action("CreatePizza")
    @Html.ActionLink("Custom Pizzas", "Custom", new { }, new { @class = "btn btn-default" })
</p>


<div class="container">
    @foreach (var item in Model)
    {

        <div class="row">
            @Html.DisplayFor(modelItem => item)
        </div>
    }
</div>