@model IEnumerable<PizzaFactory.WebClient.Models.ListCustomPizzaViewModel>

@{
    ViewBag.Title = "View";
}

<h2>Choice Custom Pizza</h2>

<p>
    @if (Request.IsAuthenticated)
    {
        @Html.ActionLink("Create New", "Create", new { }, new { @class = "btn btn-default" })
    }
    @Html.ActionLink("Our Pizzas", "Choice", new { }, new { @class = "btn btn-default" })
</p>


<div class="container">
    @foreach (var item in Model)
    {

        <div class="row">
            @Html.DisplayFor(modelItem => item)
        </div>
    }
</div>

