@using PagedList;
@using PagedList.Mvc;

@model IPagedList<PizzaFactory.WebClient.Areas.Administration.Models.OrderViewModel>

@{
    ViewBag.Title = "Orders";
}

<h2>Orders</h2>


<div class="container">
    @foreach (var item in Model)
    {

        <div class="row">
            @Html.DisplayFor(modelItem => item)
        </div>
    }
</div>


<div>
    <div class="center">
        @Html.PagedListPager(Model, page => Url.Action("Index", new { page, pageSize = Model.PageSize }))
    </div>
</div>

